
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

ul, ol, menu {
    list-style: none;
}

.section {
    width: 100%;
    padding: 50px 0;
}

.content {
    width: 1180px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

/* header ==========================================*/

header .section {
    background-color: #add8e6;
    padding: 17px 0;
    font-size: 15px;
}

header .section {
    background-color: #255ee9;
}

header .section .content {
    justify-content: space-between;
    align-items: center;
}

header .section .content > * {
    height: 100%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    line-height: 45px;
}

.nav-link li a {
    color: #fff;
}

.nav-link li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.img-logo, .button-login {
    cursor: pointer;
}

.button-login {
    color: #23272a;
    font-size: 14px;
    padding: 10px 16px;
    background-color: #fff;
    text-align: right;
    border-radius: calc(45px / 2);
}

.button-login:hover {
    color: #5865f2;
}

.section.header {
    padding: 160px 0 50px;
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-size: cover;
    border-bottom: 4px solid #add8e6;
}

.section.header .content {
    min-height: 400px;
    /* background-color: #ee82ee; */
    text-align: center;
    color: #fff;
}

.section.header .content h1 {
    font-size: 65px;
    margin: 20px 0 35px;
}

.section.header .content p {
    font-size: 25px;
    line-height: 40px;
}

.pulsanti_header {
    justify-content: center;
    gap: 25px;
}

.pulsanti_header * {
    font-size: 26px;
    margin: 15px 0;
    padding: 15px 20px;
    border-radius: calc(62px / 2);
    cursor: pointer;
}

.scarica {
    background-color: #fff;
    color: black;
}

.scarica:hover {
    color: #5865f2;
}

.scarica::before {
    content: '\1F817';
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
}

.apri {
    background-color: #23272a;
}

.apri:hover {
    background-color: #36393f;
}

/* main ============================================*/


/* main main */

.section .content.main {
    height: 500px;
}

.section .content.main.reverse {
    flex-direction: row-reverse;
}

.text {
    flex-basis: 60%;
    background-color: #1e90ff;
}

.img {
    flex-grow: 1;
    background-color: #ffc0cb;
}

.section.main:nth-child(even) {
    background-color: #d3d3d3;
}

/* main footer */

.content.main.footer {
    min-height: 900px;
    background-color: #228b22;
}

/* footer ==========================================*/
/* part top */

.section.footer.top, .section.footer.bottom {
    background-color: #23272a;
    border-bottom: 2px solid #9a9a9a;
}

.section.footer.top {
    padding: 10px 0 40px;
}

.content.first, .content.last {
    min-height: 550px;
}

.content.first {
    flex-basis: 33.33%;
    background-color: #f08080;
}

.content.last {
    flex-basis: 66.67%;
    background-color: #20b2aa;
}

.content-footer {
    border: 2px dashed #fff;
    flex-grow: 1;
}

/* part bottom */

.content.footer.bottom > ul {
    justify-content: space-between;
    padding: 20px 0;
    background-color: #7fffd4;
}

.button-footer {
    background-color: #ffb6c1;
}

.button-footer {
    padding: 5px 10px;
}

.section.footer.bottom {
    padding-bottom: 0;
}