@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

ul,
ol,
menu {
    list-style: none;
}

.section {
    width: 100%;
}

.content {
    width: 1180px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

/* header ==========================================*/

header .section {
    background-color: #add8e6;
    padding: 17px 0;
    font-size: 15px;
}

header .section {
    background-color: #255ee9;
}

header .section .content {
    justify-content: space-between;
    align-items: center;
}

header .section .content>* {
    height: 100%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    line-height: 45px;
}

.nav-link li a {
    color: #fff;
}

.nav-link li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.img-logo,
.button-login {
    cursor: pointer;
}

.button-login {
    color: #23272a;
    font-size: 14px;
    padding: 10px 16px;
    background-color: #fff;
    text-align: right;
    border-radius: calc(45px / 2);
}

.button-login:hover {
    color: #5865f2;
}

.section.header {
    padding: 160px 0 50px;
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-size: cover;
}

.section.header .content {
    min-height: 400px;
    text-align: center;
    color: #fff;
}

.section.header .content h1 {
    font-size: 65px;
    margin: 20px 0 35px;
}

.section.header .content p {
    font-size: 25px;
    line-height: 40px;
}

.pulsanti_header {
    justify-content: center;
    gap: 25px;
}

.pulsanti_header * {
    font-size: 26px;
    margin: 15px 0;
    padding: 15px 20px;
    border-radius: calc(62px / 2);
    cursor: pointer;
}

.scarica {
    background-color: #fff;
    color: black;
}

.scarica:hover {
    color: #5865f2;
}

.scarica::before {
    content: '\1F817';
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
}

.apri {
    background-color: #23272a;
}

.apri:hover {
    background-color: #36393f;
}

/* main ============================================*/

/* main main */

.section.main:first-of-type {
    padding-top: 100px;
}

.section.main:last-of-type {
    padding-bottom: 100px;
}

.section .content.main {
    height: 600px;
    gap: 50px;
}

.section .content.main.reverse {
    flex-direction: row-reverse;
}

.text {
    flex-grow: 1;
    flex-direction: column;
    gap: 40px;
}

.text h2 {
    font-size: 55px;
}

.text p {
    font-size: 25px;
}

.img {
    flex-basis: 60%;
    height: 450px;
}

.section.main:nth-of-type(even) {
    background-color: #f6f6f6;
}

svg {
    display: block;
}

/* main footer */

.content.main.footer {
    flex-direction: column;
    min-height: 1200px;
    text-align: center;
    gap: 40px;
}

.content.main.footer h2 {
    font-size: 55px;
}

.content.content.main.footer p {
    font-size: 25px;
}

.content.content.main.footer div {
    font-size: 30px;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 20px;
    line-height: 150px;
    display: inline-block;
    width: 550px;
    margin: 0 auto;
    font-weight: bold;
}

.content.content.main.footer a {
    cursor: pointer;
    background-color: #6175bf;
    display: inline-block;
    width: 240px;
    padding: 15px;
    font-size: 25px;
    margin: 0 auto;
    border-radius: 30px;
    transition: all 0.3s;
    color: #fff;
}

.content.content.main.footer a:hover {
    background-color: #7983f5;
    box-shadow: 0 5px 15px gray;
    transition: all 0.3s;
}

.content.content.main.footer a::before {
    content: '\1F817';
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;

}

/* footer ==========================================*/
/* part top */

.section.footer.top,
.section.footer.bottom {
    background-color: #23272a;
}

.section.footer.top {
    padding: 50px 0 0;
}

.content.first,
.content.last {
    min-height: 440px;
}

.content.first {
    flex-basis: 33.33%;
}

.content.last {
    flex-basis: 66.67%;
}

.content-footer {
    flex-grow: 1;
}

.content.first>* {
    margin: 20px 0;
}

.content.first h2 {
    font-size: 40px;
    color: #7289d9;
}

.content.first .language {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.content.first .language::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 25px;
    background-color: red;
    vertical-align: middle;
    margin-right: 8px;
}

.content.first .language::after {
    content: '\2B9F';
    display: inline-block;
    font-weight: 900;
    margin-left: 5px;
}

.icons {
    gap: 20px;
}

.icons img {
    filter: invert(1);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.content-footer h3 {
    color: #7289d9;
    font-size: 16px;
}

.content-footer ul li {
    margin-top: 20px;
}

.content-footer ul li a {
    color: #fff;
}

.content-footer ul li a:hover {
    text-decoration: underline;
}


/* part bottom */

.content.footer.bottom > ul {
    justify-content: space-between;
    padding: 25px 0;
}

.button-footer {
    cursor: pointer;
    padding: 5px 0;
}

.section.footer.bottom {
    padding-bottom: 30px;
}

.content.footer.bottom {
    border-top: 2px solid #4f5d8c;
}
.section.footer.bottom * {
    vertical-align: middle;
}

.section.footer.bottom a {
    background-color: #6175bf;
    color: #fff;
    padding: 10px 15px;
    border-radius: calc(38px / 2);
}

.section.footer.bottom a:hover {
    background-color: #7983f5;
    text-decoration: underline;
}