@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, ol, menu {
    list-style: none;
}

.flex {
    display: flex;
}

.structure {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 40px;
}

.structure:not(.structure.nav, footer .structure) {
    padding: 120px 40px;
}

/* HEADER NAV */

header .structure {
    align-items: center;
    padding: 20px 40px;
}

.header_background_color {
    background-color: #255ee9;
}

header .structure * {
    font-size: 17px;
}

header .structure .logo {
    margin-right: auto;
}

header .structure .nav_bar a {
    color: #fff;
    text-decoration: none;
}

header .structure .nav_bar a:hover {
    text-decoration: underline;
}

header .structure > .accedi {
    background-color: #fff;
    color: #23272a;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: calc(36px / 2);
    margin-left: auto;

}

header .structure > .accedi:hover {
    color: #5865f2;
}

.nav_bar {
    gap: 40px;
    margin: 0 auto;
}

.header_background_image {
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.short {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    gap: 40px;
    padding: 0 90px;
}

.short * {
    text-decoration: none;
}

.short h1 {
    font-size: 65px;
    color: #fff;
}

.short p {
    font-size: 25px;
    color: #fff;
    margin-top: 40px;
}

.buttons {
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 24px;
}

.buttons * {
    padding: 16px 32px;
    font-size: 20px;
    border-radius: calc(56px / 2);
}

.download {
    color: #23272a;
    background-color: #fff;
}

.download:hover {
    color: #5865f2;
}

.download img {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    border-radius: 0;
    margin-right: 10px;
    padding: 0;
}

.open {
    color: #fff;
    background-color: #23272a;
}

.open:hover {
    background-color: #36393f;
}

.preview {
    display: none;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.open_nav {
    width: 60%;
    height: 10%;
    margin: 0 auto;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.open_nav::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.open_nav::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1025px) {
    .preview {
        display: block;
    }
    .nav_bar {
        height: 0;
        overflow: hidden;
    }
    .short {
        margin: 0;
        text-align: left;
        flex-direction: column;
        gap: 40px;
        padding: 120px 0;
    }
    .buttons {
        flex-direction: column;
        align-items: flex-start;
    }
    .header_background_image {
        background-position: right;
    }
}

/* MAIN */

.row_flex {
    gap: 120px;
}

.item {
    max-width: 55%;
}

.text {
    flex-basis: 30%;
    font-size: 25px;
}

.structure h2 {
    font-size: 48px;
}

.text p {
    margin-top: 24px;
}

.reverse {
    flex-direction: row-reverse;
}

.big {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.big img {
    width: 100%;
}

.big p {
    margin-top: 24px;
    font-size: 25px;
}

.big div {
    margin-top: 30px;
    font-size: 32px;
    background-image: url('../img/stars.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 30px;
}

.big a {
    font-size: 20px;
    color: #fff;
    background-color: #5865f2;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 28px;
    margin-top: 40px;
    vertical-align: middle;
    transition: all 0.2s;
}

.big a::before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/icon-download.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

.big a:hover {
    background-color: #7983f5;
    box-shadow: 0 4px 15px gray;
}

@media (max-width: 1025px) {
    .row_flex {
        flex-direction: column;
        gap: 10px;
    }
    .item {
        max-width: 100%;
    }
    .text {
        font-size: 20px;
    }
    .structure h2 {
        font-size: 28px;
    }
    .big p {
        font-size: 20px;
    }
}


/* FOOTER */

footer {
    background-color: #23272a;
}

footer .structure {
    padding: 40px 40px;
}

.top h3 {
    font-size: 40px;
    color: #7289d9;
}

.top .icons {
    gap: 20px;
}

.top img {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.left {
    flex-basis: 33.33%;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.language {
    background-color: transparent;
    border: initial;
    color: #fff;
}

.language * {
    vertical-align: middle;
}

.language::before {
    content: '';
    display: inline-block;
    background-image: url('../img/ita.png');
    width: 30px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    border-radius: 0;
}

select {
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
}

option {
    color: #fff;
    background-color: #23272a;
}

.rigth {
    flex-grow: 1;
    justify-content: space-between;
}

.rigth h4 {
    color: #5865f2;
    margin: 20px 0;
}

.rigth ul {
    flex-direction: column;
    gap: 20px;
}

.rigth ul a {
    color: #fff;
    text-decoration: none;
}

.rigth ul a:hover {
    text-decoration: underline;
}

.top {
    border-bottom: 1px solid #255ee9;
    padding: 40px 0;
}

.top * {
    font-size: 14px;
}

.bottom {
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}

.bottom .button {
    background-color: #5865f2;
    padding: 7px 16px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-radius: calc(38px / 2);
    line-height: 24px;
    transition: all 0.2s;
}

.bottom .button:hover {
    background-color: #7983f5;
}